<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">  

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>    

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  

</head>

<body> <!-- body starts -->

<div class="container">

  <form>

    <div class="row" >

     <h4>{{word.header}}</h4>

    </div>

    <div class="row" id="content">

   <div class="input-group input-group-icon, form-group">

        <input type="password" class="form-control" id="Password"

        required

        minlength="5"

        [(ngModel)]="info.password" name="Password" placeholder={{word.passwordPlaceholder}}

        />

    </div>

   <div class="input-group input-group-icon, form-group">

        <input type="password" class="form-control" id="confirmPassword"

         required

         [(ngModel)]="info.confirmPassword" name="confirm" placeholder={{word.confirmPasswordPlaceholder}}

         />

    </div>

</div>

<!-- Button for Submit -->

        <button id="change" type="button"  class="btn btn-outline-success" (click)=changePassword(info)>{{word.button}}</button><br/><br/>

<br><div class="pull-right col-lg-4 col-xs-12"></div>  </form>

</div>

</body> <!-- end of body -->

</html>