 <div class="container" id=remove>
  <div class="row">
    <h4 class="reset">Reset Password</h4>
   <div class="input-group input-group-icon,form-group">
      <input id="input" type="password" size="30" pInputText [(ngModel)]="data.opass"
     id="opass"
     name="opass" 
     placeholder="{{word.oldPassword}}"
     />
   </div>

<!-- <div class="input-group input-group-icon,form-group">
<span class="ui-float-label">
    <input id="float-input" type="text" size="50"  pInputText [(ngModel)]="data.opass"> 
    <label id="floatlabel" for="float-input">{{word.oldPassword}}</label>
</span>
</div>
<div class="input-group input-group-icon,form-group">
<span class="ui-float-label">
    <input id="float-input" type="text" size="50"  pInputText [(ngModel)]="data.npass"> 
    <label id="floatlabel" for="float-input">{{word.newPassword}}</label>
</span>
</div>
<div class="input-group input-group-icon,form-group">
<span class="ui-float-label">
    <input id="float-input" type="text" size="50"  pInputText [(ngModel)]="data.cpass"> 
    <label id="floatlabel" for="float-input">{{word.confirmPassword}}</label>
</span>
</div>
 -->


   <div class="input-group input-group-icon,form-group">
     <input id="input" type="password"  pInputText  [(ngModel)]="data.npass"
     id="npass"
     name="npass" 
     placeholder='{{word.newPassword}}'
     />
   </div>
   <div class="input-group input-group-icon,form-group">
     <input id="input" type="password"  pInputText  [(ngModel)]="data.cpass"
     name="cpass" 
     placeholder="{{word.confirmPassword}}"
     id="cpass"
     />
   </div> 
 </div>
 <button type="button" id="reset" class="btn btn-secondary btn-sm, register" (click)="resetpassword()" >{{word.button}}</button>
</div>
