<section id="hero" class="img-responsive">
    <div class="hero-container">
        <div class="hero-logo">
           <img src="../assets/logo2.png" width="250px"> 
           <div class="hero-content">
            <!--  login button -->
            <button id="login" type="button" class="btn btn-outline-info" routerLink='/login'>Login</button>
            <!--   register button -->
            <button id="register" type="button" class="btn btn-outline-info" routerLink='/register'>Register</button>
        </div>
        <!-- <i class="fa fa-angle-double-down"></i> -->
        
        <div class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
</div>
</section>